@model List<Category>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

   
</head>
<body>
    <h1 class="text-center mt-1">
        Merhaba Category Sayfasındasınız 
    </h1>

    <table class="table text-center mt-3">

        <tr>

            <th>CategoryName</th>
            <th>Description</th>
        </tr>

        
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.CategoryName</td>
                    <td>@category.CategoryDescription</td>
                </tr>
            }     
        

    </table>

    

</body>
</html>